shiny*/data/
shiny*/archive/
*.db
*.sqlite
*.log
.idea/
*.pyc
__pycache__
**/__pycache__
clusters.csv
.webassets-cache/
webassets-external/
.DS_Store
*.pyc
*.pyo
env
venv
*.env
dist
*.egg
*.egg-info
*.sqlite
.idea
dump.rdb
.vscode/
config.R
migrations/
.Rhistory
.RData
todo.txt
!standalone.env