/*!
 * Necessary fixes
 */

html, body {
overflow: auto !important;
}

#tableContent, #speciesContent {
  overflow-x: auto !important;
  min-height: calc(100vh - 68px) !important;
}

#plotContent, #tableContent, #speciesContent {
  background-color: white !important;
  padding: 12px !important;
  min-height: 800px !important;
}

.wrapper {
  overflow: hidden !important;
}

.left-button-sb {
  float: left !important;
  margin-left: 15px !important;
  margin-right: 0% !important;
  width: 40% !important;
}

.right-button-sb {
  float: right !important;
  margin-left: 0% !important;
  margin-right: 15px !important;
  width: 40% !important;
}

#downloadcathai_plot, #downloadcathai_plot ~ hr {
  display: none !important;
}

.sidebar-toggle {
  float: right !important;
}

.navbar-custom-menu {
  float: left !important;
}

#return-nav {
  float: right !important;
}

.container-fluid {
  padding: 0px !important;
}

.navTab {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

@media only screen and (max-width: 760px) {
  #mobileTest { display: none; }
}


/*!
 * Theming
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --bs-blue: #325d88;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #d9534f;
  --bs-orange: #f47c3c;
  --bs-yellow: #ffc107;
  --bs-green: #93c54b;
  --bs-teal: #20c997;
  --bs-cyan: #29abe0;
  --bs-white: #fff;
  --bs-gray: #8e8c84;
  --bs-gray-dark: #3e3f3a;
  --bs-primary: #325d88;
  --bs-secondary: #8e8c84;
  --bs-success: #93c54b;
  --bs-info: #29abe0;
  --bs-warning: #f47c3c;
  --bs-danger: #d9534f;
  --bs-light: #f8f5f0;
  --bs-dark: #3e3f3a;
  --bs-font-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

.navbar, .main-header {
  background-color: #8e8c84 !important;
}

.logo {
	background-color: #8e8c84 !important;
  display: inline-block !important;
  padding-top: .33594rem !important;
  padding-bottom: .33594rem !important;
  font-size: 1.9375rem !important;
  line-height: inherit !important;
  white-space: nowrap !important;
  min-height: 38px !important;
  max-height: 38px !important;
  height: 38px !important;
}

.navTab {
  font-weight: 600 !important;
  text-transform: uppercase;
}

.main-sidebar {
  background-color: white !important;
}

.sidebar{
  color: black !important;
}

.content-wrapper {
  background-color: #f2f2f2 !important;
}

button, .btn-default, .dt-button {
  background-color: #8e8c84 !important;
  color: white !important;
  border-color: #8e8c84 !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  background-image: none !important;
  border-radius: 3px !important;
}

.btn-default.hover, .btn-default:active, .btn-default:hover, .dt-button:hover{
  background-color: #7b7971 !important;
}

label {
  font-weight: 520 !important;
}

body {
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3e3f3a;
  text-align: left;
}

.main-header .navbar .sidebar-toggle{
  padding-top: 8px !important;
  padding-bottom: 5px !important;
  min-height: 38px !important;
  max-height: 38px !important;
  height: 38px !important;
}

.main-header .navbar .sidebar-toggle:hover {
  background-color: #807E77 !important;
}

.navbar-custom-menu .navbar-nav > li > a {
  padding-top: 8px !important;
  padding-bottom: 5px !important;
  line-height: 20px !important;
  min-height: 38px !important;
  max-height: 38px !important;
  height: 38px !important;
}

.main-header .navbar {
  min-height: 38px !important;
  max-height: 38px !important;
  height: 38px !important;
}

.cat-btn-grp {
  margin-bottom: 56px !important;
}

#tableContent .row, #speciesContent .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.irs--shiny .irs-bar {
  border-top: 1px solid #325d88 !important;
  border-bottom: 1px solid #325d88 !important;
  background: #325d88 !important;
}

.irs--shiny .irs-from, .irs--shiny .irs-to, .irs--shiny .irs-single {
background-color: #325d88 !important;
}

section.sidebar .shiny-input-container {
  padding-top: 4px !important;
}

.selectize-control {
    margin-bottom: 0px !important;
}

.form-group {
    margin-bottom: 0px !important;
}
