{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            {% if stand_alone != true %}
                <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                    <i class="caret left icon"></i>
                    Back to dashboard
                </a>
            {% endif %}
            <h2 class="ui header">
                Manage Clusters
                <div class="sub header">
                    View and manage clusters.
                </div>
            </h2>

            <div class="ui menu">
                <div class="ui search item">
                    <div class="ui transparent icon input">
                        <input id="search-field" type="text" placeholder="Search clusters…">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th class="sorted ascending">Name</th>
                            <th>Species</th>
                            <th>ST</th>
                            <th>Members</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i,c in clusters.iterrows() | sort(attribute='CLUSTER') %}
                        <tr onclick="location.href='{{ url_for('admin.cluster_info', cluster_id=c.name) }}';">
                            <td>{{ c.CLUSTER }}</td>
                            <td>{{ c.SPECIES }}</td>
                            <td>{{ c.ST }}</td>
                            <td>{{ c.MEMBERS.replace(";", ", ") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-field').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

        });
    </script>
{% endblock %}